# Absolute Location of final converted songs to go
trackDir=/home/user/me/Music
# Use time phrases to set maximum allowed duration of video to process.
# Tracks with bigger duration will be ignored.
# example : skip_tracks_over_duration='15 minutes'
# example2 : skip_tracks_over_duration='1 hour'
# comment bellow line to process all tracks in your playlist!
skip_tracks_over_duration='10 minutes'